@import "../../styles/fonts.scss";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.IconsPage {
  h1 {
    @include heading-1;
    margin-top: var(--header-margin);
    margin-bottom: 1.5rem;
  }
}

.SplitLayout {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 22rem;
}

.SidebarCard {
  position: sticky;
  top: 0;
  padding-top: var(--header-margin);
  padding-left: 2rem;
  border-left: 1px solid var(--border-color-light);
  min-height: calc(100vh - var(--header-height));

  @include dark-mode {
    box-shadow: var(--card-shadow);
  }

  @media screen and (max-width: $breakpointMobile) {
    border-radius: var(--border-radius-800) var(--border-radius-800) 0 0;
  }
}

.SidebarEmptyState {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40rem;
  p {
    background: url(./BehaviorMajor.svg) no-repeat center top;
    background-size: 50px auto;
    padding-top: 80px;
    text-align: center;
    color: var(--text-subdued);
    font-size: var(--font-size-100);
    opacity: 0.25;
  }
}

.Modal {
  position: fixed;
  top: 2rem;
  right: 0;
  bottom: 2rem;
  left: 0;
  max-width: 30rem;
  max-height: 50rem;
  margin: auto;
  z-index: 3;
  overflow: auto;

  @media screen and (max-width: $breakpointMobile) {
    top: auto;
    bottom: 0;
    max-width: 100%;
    max-height: 80vh;
  }
}

.ModalBackdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
