@import "../../styles/mixins.scss";
@import "../../styles/fonts.scss";

.IconGrid {
  border-radius: var(--border-radius-600);
  overflow: hidden;
  border: 1px solid var(--border-color-light);
}

.IconGridInner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  position: relative;
  margin-right: -1px;
  margin-bottom: -1px;
  // &:before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   background: linear-gradient(
  //       to right,
  //       var(--surface),
  //       transparent 30px,
  //       transparent calc(100% - 30px),
  //       var(--surface)
  //     ),
  //     linear-gradient(
  //       to bottom,
  //       var(--surface),
  //       transparent 30px,
  //       transparent calc(100% - 30px),
  //       var(--surface)
  //     );
  //   z-index: 1;
  //   pointer-events: none;
  // }
}

.Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  user-select: none;
  padding: 0.95rem 1.125rem;
  border-bottom: 1px solid var(--border-color-light);
  border-right: 1px solid var(--border-color-light);
  text-align: left;

  &:focus-visible {
    box-shadow: var(--focus-outline);
  }
}

.IconSelected,
.Icon:hover {
  background: var(--search-highlight-color);
}

.IconName {
  font-size: var(--font-size-100);
  color: var(--text-subdued);
  padding: 0 0 0 1.1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.SectionHeading {
  @include heading-4;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--text-strong);
}
